@import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&display=swap');
@import "tailwindcss";
@import "bootstrap-icons";
@theme {
  --font-geologica: "Geologica", sans-serif;
}